<h1>Edycja zamówienia </h1>
<div>
    <h2>Dane zamówienia</h2>
    Numer zamówienia: {{orderId}}
    <br /><br />
    Data złożenia: {{orderPlaceDate | date : 'yyyy-MM-dd HH:mm'}}<br />
    Płatność: {{orderPaymentName}}<br /><br />
    
    <form [formGroup]="formGroup" fxLayaout="row" fxLayoutAlign="space-between start" (submit)="changeStatus()">
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="orderStatus">
                <mat-option *ngFor="let status of statuses | keyvalue" [value]="status.key">{{status.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary">Zapisz</button>
    </form>
</div>
<div>
    <h2>Pozycje</h2>
    <div fxLayaout="row" fxLayoutAlign="space-between start">
        <div class="order-hcol-1">
            Nazwa
        </div>
        <div class="order-hcol-2">Ilość</div>
        <div class="order-hcol-3">Wartość</div>
    </div>
    <div *ngFor="let row of order?.orderRows" fxLayaout="row" fxLayoutAlign="space-between start">
        <div class="order-col-1">
            <span *ngIf="row.product">{{row?.product?.name}}</span>
            <span *ngIf="row.shipment">{{row?.shipment?.name}}</span>
        </div>
        <div>{{row.quantity}}</div>
        <div>{{row.quantity * row.price}}</div>
    </div>
    <div fxLayoutAlign="end end">
        <b>Wartość: {{orderGrossValue}}</b>
    </div>
</div>
<div>
    <h2>Dane klienta</h2>
    <div>Imię: {{orderFirstname}}</div>
    <div>Nazwisko: {{orderLastname}}</div>
    <div>Ulica: {{orderStreet}}</div>
    <div>Kod: {{orderZipcode}}</div>
    <div>Miasto: {{orderCity}}</div>
    <div>Email: {{orderEmail}}</div>
    <div>Tel: {{orderPhone}}</div>
</div>
